@model AmethystScreen.Models.ContentActivity
@{
    ViewData["Title"] = "Activity";
}

<div>
    <p>@Model.Id</p>
    <p>@Model.ContentActedUponAt</p>
    <p>@Model.Title</p>
    <p>@Model.Content</p>
</div>