@model AmethystScreen.Models.ReportedContent
@{
    ViewData["Title"] = "Feedback";
}

<div>
    <p>@Model.Id</p>
    <p>@Model.ReportDate</p>
    <p>@Model.Title</p>
    <p>@Model.Description</p>
</div>