<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AmethystScreen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AmethystScreen.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <style>
        .navbar .navbar-brand {
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: blueviolet;

            .navbar-text
            {
                color: black;
                font-weight: 700;
                font-size: larger;
            }
        }

        @@media(min-width: 768px) {
            .navbar .navbar-brand {
                justify-content: left;
            }
        }
        
        .navbar-toggler {
            position: absolute;
            height: 40px;
            width: 40px;
            align-items:center;
            justify-content: center;
            top: 21px;
            right: 10px;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .nav-link {
            float: right;
            font-weight: 700;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand m-0" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="navbar-text fs-3">AmethystScreen</span>
                </a>
                <button class="navbar-toggler p-0" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/icon.png" alt="Icon" style="height: 30px; width: 30px;" />
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <p>Welcome, @User.Identity.Name!</p>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Manage Account</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
